<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Data exploration and visualization projects made with Python</title>
        <meta name="description" content="Custom made data analysis and visualizations. Tell what is your business goal and let's discover what value can we get from the data using Python and its tools."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Lora|Montserrat|Titillium+Web|Alice|Dosis:400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% load staticfiles %}
        <link rel="apple-touch-icon" sizes="76x76" href="{%  static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{%  static 'manifest.json' %}">
        <link rel="mask-icon" href="{%  static 'safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{% static 'css/styles_bundle.css' %}">
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
        <script src="{% static 'js/main.bundle.js' %}" ></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-68869610-1', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <div id="loading" class="container-fluid">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <body>
      <div id="site">
        <ul class="nav justify-content-end">
            <li class="nav-item"><a class="nav-link" style="color:#F6F6F6" href="/contact/"><i class="fas fa-envelope"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/piotr-delikat-2b572ab6" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/piotrdelikat" target="_blank"><i class="fab fa-github"></i></a></li>
            <!-- <li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li> -->
        </ul>
                {% block content %}
                {% endblock %}
        <footer>
          <div class="container">
            <div class="d-flex flex-column icons-stack pt-4 pb-4 mx-auto">
              <a href="/contact/"><i class="fas fa-2x fa-envelope"></i></a>
              <a href="https://www.linkedin.com/in/piotr-delikat-2b572ab6" target="_blank"><i class="fab fa-2x fa-linkedin"></i></a>
              <a href="https://github.com/piotrdelikat" target="_blank" class="mb-5"><i class="fab fa-2x fa-github mx-auto"></i></a>
              <a id="return-arrow" class="mx-auto" href=""><i class="fas fa-2x fa-chevron-up"></i></a>
            </div>
          </div>
          <p class="copy">copyright © piotr delikat 2018</p>
        </footer>
      </div>
    </body>
</html>
