{% extends "home/header.html"%}

{% block content %}

<div class="container landing">
    <div class="w-75 h-75 offer">
        <h1 class="display-1 align-baseline">Web Development</h1>
        <h1 class="display-2">Data Analysis</h1>
        <h1 class="display-3">Python Programming</h1>
    </div>
</div>
<div class="container">
    <div class="card-deck text-center">
      <div class="card">
          <i class="material-icons md-36">language forward library_books</i>
          <h4 class="card-title">Data Collection</h4>
          <p class="card-text">Obtaining data from various sources as websites, APIs, databases</p>
      </div>
      <div class="card">
          <i class="material-icons md-36">view_list find_in_page</i>
          <h4 class="card-title">Pre-Processing and Analysis</h4>
          <p class="card-text">Combining data from different sources, dataset cleaning</p>
      </div>
      <div class="card">
          <i class="material-icons md-36">assessment pie_chart</i>
          <h4 class="card-title">Data Visualisation</h4>
          <p class="card-text">Putting data into insightful, interactive graphical representation</p>
      </div>
      <div class="card">
          <i class="material-icons md-36">web</i>
          <h4 class="card-title">Web Development</h4>
          <p class="card-text">Providing you with crafted web application where you can explore your data and make better decision based on it</p>
      </div>
    </div>
</div>
    {% load staticfiles %}
<div class="container location" style="background: url('{% static 'img/windmill_cropped.jpg' %}')no-repeat center center fixed;">
    <h1 class="text-center">Currently I am available in The Hague, Netherlands</h1>
</div>

{% endblock %}