{% extends "home/base.html"%}

{% block content %}
{% load staticfiles %}
<div class="container landing">
    <div class="offer">
        <h1>Web Development</h1>
        <h1>Data Analysis</h1>
        <h1>Python Programming</h1>
    </div>
</div>
<div class="container">
    <div class="card-deck text-center">
      <div class="card">
          <i class="material-icons md-36">language forward library_books</i>
          <h4 class="card-title">Data Collection</h4>
          <p class="card-text">Obtaining data from various sources as websites, APIs, databases</p>
          <a href="/contact/" class="btn btn-card btn-info">Ask about specific data</a>
      </div>
      <div class="card">
          <i class="material-icons md-36">view_list find_in_page</i>
          <h4 class="card-title">Pre-Processing and Analysis</h4>
          <p class="card-text">Combining data from different sources, dataset cleaning</p>
          <button class="btn btn-card btn-info" type="button" data-toggle="collapse" data-target="#datatools" aria-expanded="false" aria-controls="datatools">
          See list of data tools I am familiar with
          </button>
          <div class="collapse" id="datatools">
            <ul>
                <li>Pandas</li>
                <li>matplotlib</li>
                <li>Numpy</li>
                <li>BeautifulSoup4</li>
                <li>NLTK</li>
                <li>MySQL</li>
                <li>SQLite</li>
            </ul>
          </div>
      </div>

      <div class="card">
          <i class="material-icons md-36">web</i>
          <h4 class="card-title">Web Development</h4>
          <p class="card-text">Providing you with crafted web application where you can explore your data and make better decision based on it</p>
          <button class="btn btn-card btn-info" type="button" data-toggle="collapse" data-target="#webtechnology" aria-expanded="false" aria-controls="webtechnology">
          See list of web technology I am familiar with
          </button>
          <div class="collapse" id="webtechnology">
            <ul>
                <li>HTML</li>
                <li>CSS/SASS</li>
                <li>Bootstrap</li>
                <li>JavaScript
                    <ul>
                        <li>jQuery</li>
                        <li>Angular</li>
                        <li>D3.js</li>
                    </ul>
                </li>
                <li>Python
                    <ul>
                        <li>Django</li>
                        <li>Bokeh</li>
                    </ul>
                </li>
            </ul>
          </div>
      </div>
      <div class="card">
          <i class="material-icons md-36">assessment pie_chart</i>
          <h4 class="card-title">Data Visualisation</h4>
          <p class="card-text">Putting data into insightful, interactive graphical representation</p>
      </div>
    </div>
</div>
<div class="container">
    <div class="col-md-11 pt-4 ml-md-auto">
        <h2 class="text-center">Recently I have been curious about market potential for vegan restaurants in the USA</h2>
        <h5 class="text-muted text-center mt-4 mb-4">explore data by yourself on the map below</h5>
        <a href="/blog/1" class="btn btn-primary" id="to_post">Read more about the study</a>
    </div>
</div>
<div class="container map_home">
    <div class="row">
        <div class="col-md-11 mx-auto">
            <h4 class="text-center">Map of market opportunity for vegan restaurants in the USA</h4>
        {% include "home/includes/v_map_visualisation.html" %}
        </div>
        <div class="col-md-11 mx-auto">
            <div class='my-legend mt-3 mb-3 ml-3'>
                <div class='legend-scale'>
                  <ul class='legend-labels'>
                    <li><span style='background:#006d2c;'></span>States with the most vegan options per potential customer</li>
                    <li><span style='background:#a1d99b;'></span>Considerable high market potential</li>
                    <li><span style='background:#f7fcf5;'></span>Almost no fully vegan options</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container map_home">
    <div class="row">
        <div class="col-md-11 mx-auto">
            <h4 class="text-center">My very first HTML, CSS, JS site of a business I have co-created</h4>
            <a href="static/frankentie_promo/index.html">
                <img class="link" alt="Frankentie promo website" src="{% static 'img/frankentie_img.jpg' %}">
            </a>
        </div>
    </div>
</div>

<div class="container location" style="background: url('{% static 'img/windmill_cropped.jpg' %}')no-repeat center center fixed;">
    <div class="col-md-11 pt-4 ml-md-auto">
        <h2 class="text-center pt-5 pb-5">Currently living in The Hague, Netherlands</h2>
        <h2 class="text-center">I can work remotely, or locally in South Holland area as well as in Utrecht or Amsterdam</h2>
    </div>
</div>
{% endblock %}