{% extends "home/base.html"%}

{% block content %}
<div class="container mb-4">
    <div class="row">
        <div class="col-md-10 ml-md-auto">
            <h2>Privacy Policy</h2>

            <p>Last changes: 03-09-2017</p>

            <p>Purpose of this short privacy policy note is to inform you why and how I approach to information collection on this site.</p>

            <p>I will only use the information collected about you lawfully (in accordance with the Data Protection Act 1998).</p>

            <p>The information I collect through contact form that includes: your name and email address will be used only to answer
            questions/requests/inquiries that you leave on the site.</p>

            <p>The only e-mail you my get from me in the future is an update to your question or ask for permission for sending additional content in the future.</p>

            <p>Additionally whenever you visit my or any other website your browser sends information known as "Log Data" that my include:</p>
            <ul class="privacy">
                <li>your computer's Internet Protocol ("IP") address,</li>
                <li>type and version of your browser,</li>
                <li>the pages that you visit, as well as time, date and duration of the visit.</li>
            </ul>

            <p>I may implement third party services such as Google Analytics that collect, monitor and analyze this type of information in order to improve website functionality and user experience.</p>
            <p>Such third party service providers have their own privacy policies addressing how they use such information.</p>

            <p>I will never collect sensitive information about you without your explicitly letting you know.</p>
            <p>Any changes to the usage of users data will be immediately published on this site.</p>
            <p>You can check or ask for erasing the information that I hold about you by email.</p>

            <p>If you have any comments or questions about privacy, please contact me.</p>
        </div>
    </div>
</div>

{% endblock %}