{% extends 'home/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 ml-md-auto">
            <h1>Contact me</h1>
                <form role="form" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>I will try to find the data you need</p>
                    <button class="btn btn-info mx-auto mb-3" type="submit">Send</button>
                </form>
                <a class="mb-4" href="/privacy-policy/">Privacy Policy</a>
        </div>
    </div>
</div>
{% endblock %}