{% extends "home/base.html" %}

{% block content %}
<div class="content container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="post">
                    <h1><a href="{% url 'blog:detail' slug=post.slug %}">{{ post.title }}</a> </h1>
                    <p>{{ post.text|safe|linebreaksbr }}</p>
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}