/* Elements */

html,
body
{
    height:100%;
}

h1
{
    font-family: 'Titillium Web', sans-serif;
}

h2
{
    font-family: 'Montserrat', sans-serif;
}

div.intro.lead
{
    font-family: 'Montserrat', sans-serif;
}


p
{
    font-family: 'Lora', serif;
    font-size: 18px
}

a
a:hover
{
    color: white;
    background-color: #138496;
}

.location
{
    height:758px;
}

label
{
    display: block;
}

footer
{
    height: 35%;
    text-align: center;
    color: white;
    background: #191F2E;
}

.copy
{
    font-size: 10px;
    color: black;
}

/*Buttons*/

header a
{
    color: black;
}

.btn
{
    white-space: normal;
}

.btn-primary,
.btn-info
{
    padding: 1.5rem .75rem;
    border: none;
    background: #6A677A;
}

.btn-card
{
    width: 100%;
    height: 120px;
    vertical-align: middle;
    white-space: normal;
}

a.btn-primary:hover
{
    background-color: #138496;
}

#to_post
{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 3%;
}

form button
{
    min-width: 20%;
}

/*Cards*/

.card
{
    background: #F5F5F5;
    border: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-deck
{
    margin-bottom: 5%;
}

.collapse show
{
    background:#F5F5F5;
}

ul
{
    margin-top: 5%;
    text-align: left;
}


/*Containres*/

.landing
{
    max-width: 100%;
}

.offer
{
    padding: 18% 0;
    margin-left: 3%;
}


.location
{
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.location h2
{
    color:white;
}


/*Visualisation*/

.bk-root
.bk-canvas
.bk-plot-layout
.bk-layout-scale_width
{
    max-width: 100%;
    max-height:100%;
}


/*
    padding-left: 15%;
    padding-right:15%;
    padding-bottom:15%;
}



.bk-plot-layout
{
    margin: 0 auto;
}
*/

.bk-tooltip
{
   font-family: 'Titillium Web', serif !important;
   font-size: 14px !important;
}


.map_home .bk-toolbar-wrapper
{
    display: none;
}

/*Icons*/

i.fa
{
    color: black;
}

.fa-stack
{
    line-height:3em;
}


.contact i
{
    color: #F5F5F5;
}

.material-icons
{
    margin-bottom: 25px;
}

/*Blog*/

.post a
{
   color: black;
}

.post a:hover
{
    color: #138496;
    text-decoration: none;
}


/*Small devices (landscape phones, 576px and up)
@media (min-width: 576px)*/

@media only screen and (min-width : 320px){
html
{
    font-size: 12px;
}
.card-deck
{
    margin-left: 3%;
    margin-right: 3%;
}

.card
{
padding-bottom: 20px;
}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
html {
            font-size: 14px;
    }
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
html {
        font-size: 18px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
html {
        font-size: 20px;
    }
.offer h1
{
    font-size: 6em;

}

.btn-card
{

}
}
