h1
{
    font-family: 'Titillium Web', sans-serif;
}

h2
{
    color: #FCA205;
    font-family: 'Montserrat', sans-serif;
}

div.intro.lead
{
    font-family: 'Montserrat', sans-serif;
}

p
{
    font-family: 'Lora', serif;
    font-size: 18px
}

.card
{
    padding-top: 50px;
    padding-bottom: 50px;
}